.accordion {
    position: relative;

    &::after {
        content: '';
        display: block;
        border-bottom: rem(1) solid var(--c-primary);
        opacity: 0.25;
        transition: opacity .125s ease-in-out;

        @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
            width: 100vw;
            // shift back equal to the .wrap gutter
            transform: translateX(#{((1 - (343 / 375)) / 2) * -100%});
        }
    }

    &.accordion--is-active {
        &::after {
            opacity: 1;
        }
    }
}

    .accordion--overlay {
        &::after {
            width: 85vw;

            @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
                // shift back equal to the .wrap--overlay gutter
                transform: translateX(#{((1 - (286.75 / 318.75)) / 2) * -100%});
            }

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                width: 100%;
            }
        }
    }

    .accordion__content {
        padding: rem(16) 0;
    }

    .accordion__title {
        @extend .reset-button;

        width: 100%;
        padding: rem(8) rem(40) rem(8) 0;
        text-align: left;
        cursor: pointer;
        transition: color .25s ease-in-out;

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            padding: rem(16) rem(40) rem(16) 0;
        }

        &:focus,
        &:hover {
            color: var(--c-tertiary);

            &::before,
            &::after {
                background-color: var(--c-tertiary);
            }
        }

        &:focus {
            outline: none;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: rem(16);
            right: rem(6);
            width: rem(16);
            height: rem(4);
            background-color: var(--c-primary);
            transition: all .125s ease-in-out;

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                top: rem(26);
            }
        }

        &::before {
            transform: translate(#{rem(-4)}) rotate(45deg);
        }

        &::after {
            transform: translate(#{rem(5)}) rotate(-45deg);
        }

        .accordion--is-active & {
            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    .accordion__content-container {
        height: 0;
        overflow: hidden;
        transition: height .25s ease-in-out;
    }

    // .accordion__reveal-more {}
