.bg-main {
    background-color: var(--c-main);
}

.bg-light-from-large {
    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        background-color: var(--c-light);
    }
}

.bg-primary {
    background-color: var(--c-primary);
}
