.button {
    @extend .reset-button;

    position: relative;
    padding: rem(16) rem(24);
    border: rem(2) solid;
    font-size: rem(16);
    font-family: inherit;
    cursor: pointer;
    overflow: hidden;

    &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        padding: rem(16) rem(24);
        background-color: var(--c-light);
        color: var(--c-text-light);
        transform: translateX(-100%);
        transition: transform .125s ease-in-out, color .125s .125s ease-in-out;
    }
}

    .button--primary {
        border-color: var(--c-primary);
        background-color: var(--c-primary);
        color: var(--c-text-light);
        transition: border .125s ease-in-out;

        &:hover,
        &:focus {
            &::before {
                color: var(--c-primary);
                transform: translateX(0);
            }
        }

        &:focus {
            outline: rem(2) dotted var(--c-tertiary);
        }
    }
