.hamburger {
    @extend .reset-button;

    width: rem(50);
    height: rem(50);
    cursor: pointer;
}

    .hamburger__inner .hamburger__inner__mid,
    .hamburger__inner::before,
    .hamburger__inner::after {
        height: rem(5);
        background-color: var(--c-primary);
    }

    .hamburger__inner {
        display: block;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            transition: transform .25s ease-in-out;
        }

        &::before {
            top: rem(-15);
        }

        &::after {
            bottom: rem(-15);
        }

        .hamburger--is-active &,
        .hamburger--close & {
            &::before {
                transform: translateY(rem(15)) rotate(45deg);
            }

            &::after {
                transform: translateY(rem(-15)) rotate(-45deg);
            }
        }
    }

    .hamburger__inner__mid {
        display: block;
        transition: opacity .125s .125s ease-in-out;

        .hamburger--is-active &,
        .hamburger--close & {
            opacity: 0;
            transition: opacity .125s ease-in-out;
        }
    }