.input {
    @extend .reset-input;
    
    border: rem(2) solid var(--c-primary);
    background-color: var(--c-light);
    transition: border-color .125s ease-in-out;

    &:focus {
        border-color: var(--c-tertiary);
        outline: none;
    }
}

    .input--password {
        padding: 16px;

        .form__input & {
            width: calc(100% - #{rem(32)});
        }
    }
