// .list {}

    .list__item {
        position: relative;
        margin-bottom: rem(16);

        &::before {
            content: '';
            position: absolute;
            top: rem(8);
            left: 0;
            width: rem(8);
            height: rem(8);
            border-radius: 100%;
            background-color: var(--c-text-default);

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                top: rem(16);
            }
        }
    }

    .list__text {
        padding-left: rem(16);

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            padding-left: rem(24);
        }
    }
