// .overlay {}

    // .overlay--is-active {}

    .overlay__cover {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(#2E6C6A, 0.9); // --c-primary
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity .25s ease-in-out, transform 0s .25s;
        cursor: pointer;

        .overlay--is-active & {
            opacity: 1;
            transform: translateX(0);
            transition: opacity .25s ease-in-out, transform 0s;
        }
    }

    .overlay__content {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 85%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform .25s 0s ease-in-out;
        overflow: hidden;

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            max-width: rem(1280);
            transition: opacity .25s 0s ease-in-out;
            opacity: 0;
        }

        &:focus {
            outline: none;
        }

        .overlay--is-active & {
            transform: translateX(0);
            transition: transform .25s .25s ease-in-out;

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                left: 50%;
                transform: translateX(-50%);
                opacity: 1;
                transition: opacity .25s .25s ease-in-out;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: var(--c-light);
        }
    }

        .overlay__content__close {
            position: absolute;
            top: rem(8);
            right: rem(8);
        }

        .overlay__content__inner {
            margin: rem(64) 0;
            overflow: auto;
        }

    .overlay__overflow {
        height: calc(100vh - 6.4rem);
        overflow-x: hidden;
    }
