body {
    font-family: 'cormorant', serif;
    font-size: rem(20);
    color: var(--c-text-default);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        font-size: rem(24);
    }
}

p {
    line-height: 1.5;
    
    &:not(:last-of-type):not(.no-margin) {
        margin-bottom: 1em;
    }
}

.hyperlink {
    position: relative;
    color: var(--c-tertiary);
    text-decoration: none;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: rem(1) solid var(--c-tertiary);
    }

    &:hover,
    &:focus {
        &::before {
            animation: hyperlink .25s ease-in-out;

            @keyframes hyperlink {
                0% {
                    transform: scaleX(0);
                }
                100% {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.text-cursive {
    font-family: 'cookie', cursive;
}

.text-size-small {
    font-size: rem(16);
}

.text-size-regular {
    font-size: rem(24);
}

.text-size-regular-to-large {
    @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
        font-size: rem(24);
    }
}

.text-size-large {
    font-size: rem(32);
}

.text-size-large-from-large {
    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        font-size: rem(32);
    }
}

.text-size-xlarge {
    font-size: rem(40);
}

.text-size-xlarge-to-large {
    @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
        font-size: rem(40);
    }
}

.text-size-xxlarge {
    font-size: rem(64);
}

.text-size-xxlarge-from-medium {
    @media (min-width: #{bp(map-get($breakpoints, medium))}) {
        font-size: rem(64);
    }
}

.text-size-xxlarge-from-large {
    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        font-size: rem(64);
    }
}

.text-center {
    text-align: center;
}

.text-color-light {
    color: var(--c-light);
}

.text-color-primary {
    color: var(--c-primary);
}

.text-color-tertiary {
    color: var(--c-tertiary);
}

.text-color-error {
    color: var(--c-error);
}

.text-break {
    display: block;
}

.text-decoration {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        transform: translateY(rem(0));
    }
}

    .text-decoration--notes {
        &::before {
            top: rem(-40);
            left: rem(-80);
            width: rem(57);
            height: rem(62);
            background-image: url(../images/svg/note-double.svg);
            animation: bounce 2s ease-in-out forwards infinite;
        }

        &::after {
            top: rem(-56);
            left: rem(-16);
            width: rem(33);
            height: rem(56);
            background-image: url(../images/svg/note-single.svg);
            animation: bounce 2s 2.25s ease-in-out forwards infinite;
        }

        @keyframes bounce {
            0%, 100% {
                transform: translateY(rem(0));
            }
            60% {
                transform: translateY(rem(-16));
            }
        }
    }
