.container {
    margin: 0 auto;
    max-width: rem(1440);
}

.wrap {
    margin: 0 auto;
    width: percentage(343 / 375);

    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        width: percentage(1280 / 1440);
        max-width: rem(1280);
    }
}

    .wrap--overlay {
        width: percentage(286.75 / 318.75); //85% of .wrap less the same margin applied in .wrap

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            width: percentage(1064 / 1224)
        }
    }

.wrap-to-large {
    @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
        margin: 0 auto;
        width: percentage(343 / 375);
    }
}

.wrap-from-large {
    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        margin: 0 auto;
        width: percentage(1280 / 1440);
        max-width: rem(1280);
    }
}
