:root {
    --c-default: #ffffff;
    --c-main: #F7F9F9;
    --c-error: #f00f00;

    --c-text-default: #121212;
    --c-text-light: #ffffff;

    --c-light: #ffffff;
    --c-primary: #2E6C6A;
    --c-tertiary: #86CB92;
}
