// .form {}

    .form__label {
        margin-bottom: rem(16);
    }

        .form__label__text {
            display: block;

            &:not(:last-of-type) {
                margin-bottom: rem(8);
            }
        }

    .form__input {
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    .form__message {
        margin-top: rem(8);
    }

        .form__message--hidden {
            display: none;
        }
    