.header {
    background-image: url(../images/gray-floral.png);
}

    .header__heading {
        margin-bottom: rem(16);
        padding: rem(40) 0 0;

        @media (min-width: #{bp(map-get($breakpoints, medium))}) {
            margin-bottom: rem(48);
            padding: rem(24) 0 0;
        }
    }

        .header__heading__text {
            text-shadow: rem(2) rem(1) rem(1) rgba(0, 0, 0, .25);

            @media (max-width: #{bp(map-get($breakpoints, toMedium))}) {
                font-size: #{((24 / 375) * 100)}vw;
            }
        }

    .header__picture {
        margin: 0 auto;
        max-width: percentage(322 / 343);

        @media (min-width: #{bp(map-get($breakpoints, medium))}) {
            max-width: percentage(813 / 1280);
        }

        img {
            width: 100%;
        }
    }
