.info-strip {
    padding: rem(16) 0;

    @media (min-width: #{bp(map-get($breakpoints, medium))}) {
        padding: rem(8) 0;
    }
}

    .info-strip__text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            margin: 0 auto;
            width: 75%;
        }

        @media (min-width: #{bp(map-get($breakpoints, xLarge))}) {
            width: 50%;
        }
    }

        .info-strip__text__split {
            &:last-of-type {
                @media (max-width: #{bp(map-get($breakpoints, toMedium))}) {
                    flex-basis: 100%;
                }
            }
        }
