// .nav {}

    .nav__hamburger {
        position: absolute;
        top: rem(8);
        z-index: 2;

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            display: none;
        }
    }

    .nav__list {
        @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
            height: 100%;
            overflow: auto;
        }

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            display: flex;
            justify-content: space-between;
            padding: rem(24) 0;
        }
    }

        .nav__list--from-large {
            display: none;

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                display: flex;
                justify-content: space-between;
                padding: rem(24) 0;
            }
        }

        .nav__item {
            @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
                margin-bottom: rem(24);
            }
        }

        .nav__hyperlink {
            position: relative;
            text-decoration: none;

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                font-size: rem(16);
            }

            @media (min-width: #{bp(map-get($breakpoints, xLarge))}) {
                font-size: rem(24);
            }

            &::before {
                content: '';
                position: absolute;
                bottom: rem(-4);
                left: 0;
                width: 100%;
                border-bottom: rem(1) solid;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .25s ease-in-out;
            }

            &:hover,
            &:focus {
                &::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }
