.section {
    padding-top: rem(40);
    overflow: hidden;

    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        position: relative;
        padding-top: rem(120);
    }
}

    .section--double-to-large {
        @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
            padding-top: rem(80);
        }
    }

    .section__content {
        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }

        .section__content__animation {
            opacity: 0.5;
            transform: translateY(rem(40));
            transition: all .25s ease-in-out;

            &.is-active {
                opacity: 1;
                transform: translateY(0);
            }
        }

    .section__heading {
        margin-bottom: rem(24);

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            margin-bottom: rem(16);
        }
    }

        .section__heading--center {
            display: flex;
            justify-content: center;
        }

    .section__decoration {
        display: none;

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: percentage(493 / 413); // 413 is approx. width of 4 columns @ full width.
            height: 100%;
        }
    }

        .section__decoration--left {
            margin-left: calc(#{percentage(-493 / 413)} + 100%);
        }

        .section__decoration__image {
            width: 100%;
        }

        .section__decoration__animate {
            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100vh;
            }
        }

    .section__map {
        height: rem(200);

        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            position: relative;
            height: rem(535);
        }

        .section--our-venue & {
            @media (max-width: #{bp(map-get($breakpoints, toLarge))}) {
                margin-top: rem(24);
            }

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                margin-left: percentage(-80 / 630); // width of grid-cell--span-6 at full width;
            }
        }
    }

        .section__map__inner {
            height: 100%;

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }

    .section__accordions {
        margin-top: rem(24);
    }

        .section__accordions__more {
            margin-top: rem(24);
        }

    .section__iframe {
        margin-top: rem(24);

        iframe {
            display: block;
            border: rem(1) solid var(--c-primary);
            width: 100%;
            height: rem(400);

            @media (min-width: #{bp(map-get($breakpoints, large))}) {
                height: rem(500);
            }
        }
    }
