<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" sizes="192x192" type="image/png" href="<%=require('./images/favicon.png')%>"/>
        <link rel="preload" href="<%=require('./fonts/cookie/cookie-regular-webfont.woff')%>" as="font">
        <link rel="preload" href="<%=require('./fonts/cookie/cookie-regular-webfont.woff2')%>" as="font">
        <link rel="preload" href="<%=require('./fonts/cormorant/cormorant-regular-webfont.woff')%>" as="font">
        <link rel="preload" href="<%=require('./fonts/cormorant/cormorant-regular-webfont.woff2')%>" as="font">
        <meta name="theme-color" content="#86CB92">
        <meta name="robots" content="noindex">
        <title>The wedding of Roseanna Scott & Andrew Tanner | Thwaite Mills, Leeds | 13th June 2019</title>
        <script type="text/javascript">
            /*! modernizr 3.6.0 (Custom Build) | MIT *
            * https://modernizr.com/download/?-cssgrid_cssgridlegacy-setclasses !*/
            !function(e,n,t){function r(e,n){return typeof e===n}function o(){var e,n,t,o,s,i,l;for(var a in w)if(w.hasOwnProperty(a)){if(e=[],n=w[a],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(t=0;t<n.options.aliases.length;t++)e.push(n.options.aliases[t].toLowerCase());for(o=r(n.fn,"function")?n.fn():n.fn,s=0;s<e.length;s++)i=e[s],l=i.split("."),1===l.length?Modernizr[l[0]]=o:(!Modernizr[l[0]]||Modernizr[l[0]]instanceof Boolean||(Modernizr[l[0]]=new Boolean(Modernizr[l[0]])),Modernizr[l[0]][l[1]]=o),C.push((o?"":"no-")+l.join("-"))}}function s(e){var n=_.className,t=Modernizr._config.classPrefix||"";if(x&&(n=n.baseVal),Modernizr._config.enableJSClass){var r=new RegExp("(^|\\s)"+t+"no-js(\\s|$)");n=n.replace(r,"$1"+t+"js$2")}Modernizr._config.enableClasses&&(n+=" "+t+e.join(" "+t),x?_.className.baseVal=n:_.className=n)}function i(e,n){return!!~(""+e).indexOf(n)}function l(){return"function"!=typeof n.createElement?n.createElement(arguments[0]):x?n.createElementNS.call(n,"http://www.w3.org/2000/svg",arguments[0]):n.createElement.apply(n,arguments)}function a(e){return e.replace(/([a-z])-([a-z])/g,function(e,n,t){return n+t.toUpperCase()}).replace(/^-/,"")}function u(e,n){return function(){return e.apply(n,arguments)}}function f(e,n,t){var o;for(var s in e)if(e[s]in n)return t===!1?e[s]:(o=n[e[s]],r(o,"function")?u(o,t||n):o);return!1}function c(n,t,r){var o;if("getComputedStyle"in e){o=getComputedStyle.call(e,n,t);var s=e.console;if(null!==o)r&&(o=o.getPropertyValue(r));else if(s){var i=s.error?"error":"log";s[i].call(s,"getComputedStyle returning null, its possible modernizr test results are inaccurate")}}else o=!t&&n.currentStyle&&n.currentStyle[r];return o}function d(e){return e.replace(/([A-Z])/g,function(e,n){return"-"+n.toLowerCase()}).replace(/^ms-/,"-ms-")}function p(){var e=n.body;return e||(e=l(x?"svg":"body"),e.fake=!0),e}function m(e,t,r,o){var s,i,a,u,f="modernizr",c=l("div"),d=p();if(parseInt(r,10))for(;r--;)a=l("div"),a.id=o?o[r]:f+(r+1),c.appendChild(a);return s=l("style"),s.type="text/css",s.id="s"+f,(d.fake?d:c).appendChild(s),d.appendChild(c),s.styleSheet?s.styleSheet.cssText=e:s.appendChild(n.createTextNode(e)),c.id=f,d.fake&&(d.style.background="",d.style.overflow="hidden",u=_.style.overflow,_.style.overflow="hidden",_.appendChild(d)),i=t(c,e),d.fake?(d.parentNode.removeChild(d),_.style.overflow=u,_.offsetHeight):c.parentNode.removeChild(c),!!i}function g(n,r){var o=n.length;if("CSS"in e&&"supports"in e.CSS){for(;o--;)if(e.CSS.supports(d(n[o]),r))return!0;return!1}if("CSSSupportsRule"in e){for(var s=[];o--;)s.push("("+d(n[o])+":"+r+")");return s=s.join(" or "),m("@supports ("+s+") { #modernizr { position: absolute; } }",function(e){return"absolute"==c(e,null,"position")})}return t}function y(e,n,o,s){function u(){c&&(delete N.style,delete N.modElem)}if(s=r(s,"undefined")?!1:s,!r(o,"undefined")){var f=g(e,o);if(!r(f,"undefined"))return f}for(var c,d,p,m,y,v=["modernizr","tspan","samp"];!N.style&&v.length;)c=!0,N.modElem=l(v.shift()),N.style=N.modElem.style;for(p=e.length,d=0;p>d;d++)if(m=e[d],y=N.style[m],i(m,"-")&&(m=a(m)),N.style[m]!==t){if(s||r(o,"undefined"))return u(),"pfx"==n?m:!0;try{N.style[m]=o}catch(h){}if(N.style[m]!=y)return u(),"pfx"==n?m:!0}return u(),!1}function v(e,n,t,o,s){var i=e.charAt(0).toUpperCase()+e.slice(1),l=(e+" "+z.join(i+" ")+i).split(" ");return r(n,"string")||r(n,"undefined")?y(l,n,o,s):(l=(e+" "+P.join(i+" ")+i).split(" "),f(l,n,t))}function h(e,n,r){return v(e,t,t,n,r)}var C=[],w=[],S={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var t=this;setTimeout(function(){n(t[e])},0)},addTest:function(e,n,t){w.push({name:e,fn:n,options:t})},addAsyncTest:function(e){w.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=S,Modernizr=new Modernizr;var _=n.documentElement,x="svg"===_.nodeName.toLowerCase(),b="Moz O ms Webkit",P=S._config.usePrefixes?b.toLowerCase().split(" "):[];S._domPrefixes=P;var z=S._config.usePrefixes?b.split(" "):[];S._cssomPrefixes=z;var E={elem:l("modernizr")};Modernizr._q.push(function(){delete E.elem});var N={style:E.elem.style};Modernizr._q.unshift(function(){delete N.style}),S.testAllProps=v,S.testAllProps=h,Modernizr.addTest("cssgridlegacy",h("grid-columns","10px",!0)),Modernizr.addTest("cssgrid",h("grid-template-rows","none",!0)),o(),s(C),delete S.addTest,delete S.addAsyncTest;for(var T=0;T<Modernizr._q.length;T++)Modernizr._q[T]();e.Modernizr=Modernizr}(window,document);
        </script>
    </head>
    <body>
        <div class="container">
            <article class="main bg-main">
                <header class="header">
                    <div class="wrap">
                        <div class="header__heading">
                            <h1 class="header__heading__text text-size-xxlarge-from-medium text-cursive text-center text-color-primary">The wedding of <span class="text-break">Roseanna Scott & Andrew Tanner</span></h1>
                        </div>
                        <div class="header__picture">
                            <picture>
                                <source srcset="<%=require('./images/header-small-1x.png')%> 1x,
                                                <%=require('./images/header-small-2x.png')%> 2x"
                                        media="(max-width: 767px)">
                                <source srcset="<%=require('./images/header-medium-1x.png')%> 1x,
                                                <%=require('./images/header-medium-2x.png')%> 2x"
                                        media="(min-width: 768px)">
                                <img src="<%=require('./images/header-medium-2x.png')%>" alt="A photograph of Roseanna and Andrew from Roseanna's university graduation ceremony.">
                            </picture>
                        </div>
                    </div>
                    <div class="info-strip bg-primary">
                        <div class="wrap">
                            <h2 class="info-strip__text text-size-large text-cursive text-center text-color-light">
                                <span class="info-strip__text__split">Thwaite Mills</span>
                                <span class="info-strip__text__split"><time datetime="2019-06-13">13th June 2019</time></span>
                                <span class="info-strip__text__split"><span class="js-countdown"></span></span>
                            </h2>
                        </div>
                    </div>
                    <nav class="nav">
                        <div class="wrap">
                            <div class="nav__hamburger">
                                <button type="button" class="hamburger js-hamburger js-hamburger-toggle js-overlay-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner">
                                    <span class="hamburger__inner">
                                        <span class="hamburger__inner__mid"></span>
                                    </span>
                                    <span class="visuallyhidden"><span>Open</span> navigation menu</span>
                                </button>
                            </div>
                        </div>
                        <div id="nav-inner" class="overlay overlay--to-large">
                            <div class="overlay__cover js-overlay-toggle js-overflow-toggle js-hamburger-toggle" data-overlay-toggle="#nav-inner"></div>
                            <div class="overlay__content">
                                <div class="overlay__content__inner bg-light-from-large">
                                    <div  class="wrap" >
                                        <div class="overlay__overflow">
                                            <ul class="nav__list">
                                                <li class="nav__item">
                                                    <a href="#welcome" class="nav__hyperlink text-size-regular text-color-primary js-overlay-toggle js-hamburger-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner" title="Welcome" tabindex="-1">Welcome</a>
                                                </li>
                                                <li class="nav__item">
                                                    <a href="#our-venue" class="nav__hyperlink text-size-regular text-color-primary js-overlay-toggle js-hamburger-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner" title="Our venue" tabindex="-1">Our venue</a>
                                                </li>
                                                <li class="nav__item">
                                                    <a href="#order-of-service" class="nav__hyperlink text-size-regular text-color-primary js-overlay-toggle js-hamburger-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner" title="Order of Service" tabindex="-1">Order of Service</a>
                                                </li>
                                                <li class="nav__item">
                                                    <a href="#information" class="nav__hyperlink text-size-regular text-color-primary js-overlay-toggle js-hamburger-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner" title="Information" tabindex="-1">Information</a>
                                                </li>
                                                <li class="nav__item">
                                                    <a href="#get-involved" class="nav__hyperlink text-size-regular text-color-primary js-overlay-toggle js-hamburger-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner" title="Get involved" tabindex="-1">Get involved</a>
                                                </li>
                                                <li class="nav__item">
                                                    <a href="#our-honeymoon" class="nav__hyperlink text-size-regular text-color-primary js-overlay-toggle js-hamburger-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner" title="Our Honeymoon" tabindex="-1">Our Honeymoon</a>
                                                </li>
                                                <li class="nav__item">
                                                    <a href="#help-us-dj" class="nav__hyperlink text-size-regular text-color-primary js-overlay-toggle js-hamburger-toggle js-overflow-toggle" data-overlay-toggle="#nav-inner" title="Help us DJ!" tabindex="-1">Help us DJ!</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light-from-large">
                                <div  class="wrap" >
                                    <ul class="nav__list nav__list--from-large">
                                        <li class="nav__item">
                                            <a href="#welcome" class="nav__hyperlink text-color-primary" title="Welcome">Welcome</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#our-venue" class="nav__hyperlink text-color-primary" title="Our venue">Our venue</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#order-of-service" class="nav__hyperlink text-color-primary" title="Order of Service">Order of Service</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#information" class="nav__hyperlink text-color-primary" title="Information">Information</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#get-involved" class="nav__hyperlink text-color-primary" title="Get involved">Get involved</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#our-honeymoon" class="nav__hyperlink text-color-primary" title="Our Honeymoon">Our Honeymoon</a>
                                        </li>
                                        <li class="nav__item">
                                            <a href="#help-us-dj" class="nav__hyperlink text-color-primary" title="Help us DJ!">Help us DJ!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
                <section id="welcome" class="section">
                    <div class="wrap">
                        <div class="grid grid-12-from-large">
                            <div class="grid-cell grid-cell--span-6">
                                <div class="section__content">
                                    <div class="section__content__animation js-scroll-fade">
                                        <div class="section__heading">
                                            <h2 class="text-size-xlarge-to-large text-size-xxlarge-from-large text-cursive text-color-primary">Welcome to our wedding!</h2>
                                        </div>
                                        <div class="section__para">
                                            <p>
                                                When we first gazed upon each other in The Cricketers Arms, Keighley, we never thought it would
                                                come to this. Six and a half years later we are getting married. How exciting! This website
                                                will tell you more information about the wedding. If we have missed
                                                anything important please get in touch with us.
                                            </p>
                                            <p>
                                                Roseanna mobile: <a href="tel:07739981916" class="hyperlink" title="Call Roseanna on 07739 981 916"><span class="visuallyhidden">Call Roseanna on </span>07739 981 916</a>
                                            </p>
                                            <p>
                                                Andrew mobile: <a href="tel:07479942146" class="hyperlink" title="Call Andrew on 07479 942 146"><span class="visuallyhidden">Call Andrew on </span>07479 942 146</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-cell--span-2 grid-cell--skip-6"></div>
                            <div class="grid-cell grid-cell--span-4 grid-cell--skip-8">
                                <div class="section__decoration">
                                    <div class="js-opacity-anim-context">
                                        <div class="section__decoration__animate js-opacity-anim-control"></div>
                                        <div class="js-opacity-anim-element">
                                            <img src="<%=require('./images/svg/rings.svg')%>" class="section__decoration__image" alt="Graphic of wedding rings and a love heart.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="our-venue" class="section section--our-venue">
                    <div class="wrap-from-large">
                        <div class="grid grid-12-from-large grid-12-from-large-reverse">
                            <div class="grid-cell grid-cell--span-5">
                                <div class="wrap-to-large fill-height">
                                    <div class="section__content">
                                        <div class="section__content__animation js-scroll-fade">
                                            <div class="section__heading">
                                                <h2 class="text-size-xlarge-to-large text-size-xxlarge-from-large text-cursive text-color-primary">Our venue</h2>
                                            </div>
                                            <div class="section__para">
                                                <p>
                                                    The ceremony, reception and evening celebrations are at <a href="https://www.leeds.gov.uk/museumsandgalleries/thwaitemills/Home" class="hyperlink" title="Thwaite Mills Watermill">Thwaite Mills Watermill</a> south
                                                    of Leeds near Hunslet. Thwaite Mills is an industrial museum and is a fully restored
                                                    working water-powered mill built between 1823-25.
                                                </p>
                                                <p>
                                                    It claims to be one of the last remaining water
                                                    powered mills in Britain. It is sat on a small island surrounded by the River Aire and
                                                    Leeds/Liverpool canal - it's a really stunning place!
                                                </p>
                                                <p>
                                                    You can be there in less than ten minutes by car from the centre of Leeds. <a href="https://www.google.com/maps/place/Thwaite+Mills+Watermill/@53.77638,-1.5059947,17z/data=!3m1!4b1!4m5!3m4!1s0x48795c56a9ce3785:0x7c6855a208ff7c92!8m2!3d53.77638!4d-1.503806?hl=en-GB" class="hyperlink" title="Click here for directions" target="_blank">Click here for directions</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-cell--span-1 grid-cell--skip-5"></div>
                            <div class="grid-cell grid-cell--span-6 grid-cell--skip-6">
                                <div class="section__map">
                                    <div class="section__map__inner">
                                        <div id="map" class="map">A map denoting the position of Thwaite Mills, Leeds.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="order-of-service" class="section">
                    <div class="wrap">
                        <div class="grid-12-from-large">
                            <div class="grid-cell grid-cell--span-6">
                                <div class="section__content">
                                    <div class="section__content__animation js-scroll-fade">
                                        <div class="section__heading">
                                            <h2 class="text-size-xlarge-to-large text-size-xxlarge-from-large text-cursive text-color-primary">Order of Service</h2>
                                        </div>
                                        <div class="section__para">
                                            <ul class="list">
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="11:45">11:45</time> - Find a seat 🔔
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="12:00">12:00</time> - Wedding ceremony starts 👰🏼🤵
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="13:00">13:00</time> - Drinks reception 🥂
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="14:00">14:00</time> - Wedding breakfast 🍽️
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="15:00">15:00</time> - Speeches 📣
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="17:00">17:00</time> - Bake-off winner crowned 👑
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="18:30">18:30</time> - Evening guests arrive 🚌
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="19:00">19:00</time> - Cutting of the cake 🍰
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="19:15">19:15</time> - First dance 💃🕺🏻
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="20:00">20:00</time> - Evening food 🍕
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="23:00">23:00</time> - The bar regretfully closes 🚫🍺
                                                    </p>
                                                </li>
                                                <li class="list__item">
                                                    <p class="list__text">
                                                        <time datetime="00:00">00:00</time> - Taxi time 🚕🚕🚕
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-cell--span-2 grid-cell--skip-6"></div>
                            <div class="grid-cell grid-cell--span-4 grid-cell--skip-8">
                                <div class="section__decoration">
                                    <div class="js-opacity-anim-context">
                                        <div class="section__decoration__animate js-opacity-anim-control"></div>
                                        <div class="js-opacity-anim-element">
                                            <img src="<%=require('./images/svg/list.svg')%>" class="section__decoration__image" alt="Graphic of a list with a love heart.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="information" class="section">
                    <div class="wrap">
                        <div class="grid grid-12-from-large grid-12-from-large-reverse">
                            <div class="grid-cell grid-cell--span-6">
                                <div class="section__content">
                                    <div class="section__content__animation js-scroll-fade">
                                        <div class="section__heading">
                                            <h2 class="text-size-xlarge-to-large text-size-xxlarge-from-large text-cursive text-color-primary">Information</h2>
                                        </div>
                                        <div class="section__para">
                                            <p>
                                                Please read the below for more information about the day…
                                            </p>
                                        </div>
                                        <div class="section__accordions">
                                            <div class="accordion">
                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle">Will there be a bar?</button>
                                                <div class="accordion__content-container js-accordion-content-container">
                                                    <div class="accordion__content js-accordion-content">
                                                        <p>
                                                            Absolutely! We will have a bar on-site with a range of different drinks to suit those drinking alcohol or those refraining.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion">
                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle">What about taxis?</button>
                                                <div class="accordion__content-container js-accordion-content-container">
                                                    <div class="accordion__content js-accordion-content">
                                                        <p>
                                                            There are plenty of taxis to use in the area. Here are a few:
                                                        </p>
                                                        <ul class="list">
                                                            <li class="list__item">
                                                                <p class="list__text">
                                                                    Uber - Download the mobile app for <a href="https://play.google.com/store/apps/details?id=com.ubercab&hl=en_GB" class="hyperlink" title="Download the Uber mobile app for Android" tabindex="-1">Android</a> or <a href="https://itunes.apple.com/us/app/uber/id368677368" class="hyperlink" title="Download the Uber mobile app for iPhone" tabindex="-1">iPhone</a> and use code ‘rosies389ue’ or ‘t5wjcue’ to receive a discount.
                                                                </p>
                                                            </li>
                                                            <li class="list__item">
                                                                <p class="list__text">
                                                                    Amber - A local taxi company. You can download the mobile app for <a href="https://play.google.com/store/apps/details?id=uk.co.taxileeds.amber" class="hyperlink" title="Download the Amber mobile app for Android" tabindex="-1">Android</a> or <a href="https://itunes.apple.com/gb/app/amber-cars/id543849366" class="hyperlink" title="Download the Amber mobile app for iPhone" tabindex="-1">iPhone</a> or call them on <a href="tel:01132022112" class="hyperlink" title="Call Amber on 0113 202 2112" tabindex="-1">0113 202 2112</a>.
                                                                </p>
                                                            </li>
                                                            <li class="list__item">
                                                                <p class="list__text">
                                                                    Arrows - A local taxi company. You can call them on <a href="tel:01132585888" class="hyperlink" title="Call Arrows on 0113 258 5888" tabindex="-1">0113 258 5888</a>.
                                                                </p>
                                                            </li>
                                                        </ul>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion">
                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle">Are there any nearby hotels that you would recommend?</button>
                                                <div class="accordion__content-container js-accordion-content-container">
                                                    <div class="accordion__content js-accordion-content">
                                                        <p>
                                                            We are both staying at <a href="https://www.village-hotels.co.uk/hotels/leeds-south/" class="hyperlink" title="The Village South Leeds" tabindex="-1">The Village</a> in south Leeds which is near Tingley, just over ten minutes away in a taxi. Prices start from around £59.00.
                                                            For alternative places to stay you can search the venue on Google maps for nearby hotels.
                                                        </p>
                                                        <p>Alternatively, you can look at the following:</p>
                                                        <ul class="list">
                                                            <li class="list__item">
                                                                <p class="list__text">
                                                                    <a href="https://www.hileedsgarforth.com/" class="hyperlink" title="Holiday Inn, Garforth hotel" tabindex="-1">Holiday Inn, Garforth</a> is around a 15 minute drive in a taxi. Prices start from £64.
                                                                </p>
                                                            </li>
                                                            <li class="list__item">
                                                                <p class="list__text">
                                                                    If you want something closer to the city the <a href="https://www.accorhotels.com/gb/hotel-9687-ibis-styles-leeds-city-centre-arena-/index.shtml" class="hyperlink" title="ibis Styles, Leeds City Centre Arena hotel" tabindex="-1">ibis Styles, Leeds City Centre Arena hotel</a> is around a 17 minute drive in a taxi ride. Prices start from £89.
                                                                </p>
                                                            </li>
                                                            <li class="list__item">
                                                                <p class="list__text">
                                                                    Alternatively, you can look around for <a href="https://www.google.com/maps/place/Thwaite+Mills+Watermill/@53.77638,-1.5059947,17z/data=!3m1!4b1!4m5!3m4!1s0x48795c56a9ce3785:0x7c6855a208ff7c92!8m2!3d53.77638!4d-1.503806?hl=en-GB" class="hyperlink" title="Nearby hotels" tabindex="-1">nearby hotels</a> using Google Maps.
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section__accordions__more">
                                        <div class="accordion__reveal-more">
                                            <button class="button button--primary js-overlay-toggle js-overflow-toggle" data-text="Click here for more information…" data-overlay-toggle="#accordions-overlay">Click here for more information…</button>
                                        </div>
                                        <div id="accordions-overlay" class="overlay">
                                            <div class="overlay__cover js-overlay-toggle js-overflow-toggle" data-overlay-toggle="#accordions-overlay"></div>
                                            <div class="overlay__content">
                                                <div class="overlay__content__inner">
                                                    <div class="overlay__content__close">
                                                        <button type="button" class="hamburger hamburger--close js-overlay-toggle js-overflow-toggle" data-overlay-toggle="#accordions-overlay" tabindex="-1">
                                                            <span class="hamburger__inner">
                                                                <span class="hamburger__inner__mid"></span>
                                                            </span>
                                                            <span class="visuallyhidden">Close</span>
                                                        </button>
                                                    </div>
                                                    <div class="overlay__overflow">
                                                        <div class="wrap wrap--overlay">
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle">What shall I wear on the day?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            This is a formal do but we don’t mind what you wear. We accept you for who you are - not what you wear!
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">When is the RSVP deadline?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            We would like to have your RSVP returned to us by <strong>Friday 19th April</strong> as we need to confirm numbers to the venue, registrar and catering company. If you aren't planning on sending back the RSVP before 27th March, please send either of us a text as we are in the process of moving house. Thanks!
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">Where can I park?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            There is a free car park with plenty of room on-site as you drive over the bridge towards the entrance. You can’t miss it!
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">What about food?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            The wedding breakfast is being provided by a local initiative, <a href="https://www.foodrevival.co.uk/" class="hyperlink" title="Food Revival website">Food Revival</a>. They work with local supermarkets to ensure no food goes to waste, creating something unique and bespoke for us. We don't even know what we're going to be getting but we do know it will be tasty!
                                                                        </p>
                                                                        <p>
                                                                            For the evening we have a pizza van, all freshly prepared on-site. There are going to be lots of scrumptious toppings to look forward to.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">What time will it all end?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            The bar will stop serving at 11pm so we need to have left no later than midnight.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">Is the wedding inside or outside?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            The venue has several buildings on-site. However, there is plenty of outdoor space too. The ceremony and reception will be indoors. Ultimately, we're at the mercy of the weather as to whether we're outside or not! Bring a brolly just in case. Bloody British summer, eh?
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">Can I bring a plus one?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            Due to certain restrictions we would prefer invitees only. Any questions then please get in touch with us.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">Am I okay to take photos to capture the day?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            We don’t mind you taking as many photos as you like on the day but we will have a professional photographer there with us throughout. We just ask you don’t take any photos during the ceremony until we're signing the register and the registrar is OK with it.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion accordion--overlay">
                                                                <button type="button" class="accordion__title text-color-primary js-accordion-toggle" tabindex="-1">Am I free to look around the museum?</button>
                                                                <div class="accordion__content-container js-accordion-content-container">
                                                                    <div class="accordion__content js-accordion-content">
                                                                        <p>
                                                                            Yes, after the ceremony. Hopefully the staff at the museum will also demonstrate the mill in it's working state!
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-cell--span-2 grid-cell--skip-6"></div>
                            <div class="grid-cell grid-cell--span-4 grid-cell--skip-8">
                                <div class="section__decoration section__decoration--left">
                                    <div class="js-opacity-anim-context">
                                        <div class="section__decoration__animate js-opacity-anim-control"></div>
                                        <div class="js-opacity-anim-element">
                                            <img src="<%=require('./images/svg/information.svg')%>" class="section__decoration__image" alt="Graphic of a question and information speec bubbles.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="get-involved" class="section">
                    <div class="wrap">
                        <div class="grid-12-from-large">
                            <div class="grid-cell grid-cell--span-6">
                                <div class="section__content">
                                    <div class="section__content__animation js-scroll-fade">
                                        <div class="section__heading">
                                            <h2 class="text-size-xlarge-to-large text-size-xxlarge-from-large text-cursive text-color-primary">Get involved</h2>
                                        </div>
                                        <div class="section__para">
                                            <p>
                                                We are having a Great Wedding Bake-Off for those that love baking and want to share their tasty creation with everyone on the day. Unfortunately, this is only for the day guests owing to space and time restrictions.
                                            </p>
                                            <p>
                                                We will reserve a table near the bar area - you can pop your bake there. Unfortunately, our venue doesn’t have a fridge for us to use on-site so please keep this in mind. Please leave your name on a note beside your creation or stick it on a cocktail stick. We would appreciate it if you could also pop on any allergy information as well as if it's vegan/vegetarian friendly. We know of one person who can’t eat nuts.
                                            </p>
                                            <p>
                                                We will taste each and every bake later in the day and announce the winner, who will win a (likely mediocre) prize! If you would like to know more, get in touch.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-cell--span-2 grid-cell--skip-6"></div>
                            <div class="grid-cell grid-cell--span-4 grid-cell--skip-8">
                                <div class="section__decoration">
                                    <div class="js-opacity-anim-context">
                                        <div class="section__decoration__animate js-opacity-anim-control"></div>
                                        <div class="js-opacity-anim-element">
                                            <img src="<%=require('./images/svg/cake.svg')%>" class="section__decoration__image" alt="Graphic of a wedding cake with a love heart.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="our-honeymoon" class="section">
                    <div class="wrap">
                        <div class="grid-12-from-large grid-12-from-large-reverse">
                            <div class="grid-cell grid-cell--span-6">
                                <div class="section__content">
                                    <div class="section__content__animation js-scroll-fade">
                                        <div class="section__heading">
                                            <h2 class="text-size-xlarge-to-large text-size-xxlarge-from-large text-cursive text-color-primary">Our Honeymoon</h2>
                                        </div>
                                        <div class="section__para">
                                            <p>
                                                At the moment we don’t have anything planned for a little honeymoon, though we would love to go somewhere and have many places in mind. If you have any ideas where we could go or any recommendations, we would love to hear them. Please write it down and post it with the RSVP.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell grid-cell--span-2 grid-cell--skip-6"></div>
                            <div class="grid-cell grid-cell--span-4 grid-cell--skip-8">
                                <div class="section__decoration section__decoration--left">
                                    <div class="js-opacity-anim-context">
                                        <div class="section__decoration__animate js-opacity-anim-control"></div>
                                        <div class="js-opacity-anim-element">
                                            <img src="<%=require('./images/svg/suitcase.svg')%>" class="section__decoration__image" alt="Graphic of a suitcase with a love heart.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="help-us-dj" class="section section--double-to-large">
                    <div class="wrap">
                        <div class="section__content">
                            <div class="section__content__animation js-scroll-fade">
                                <div class="section__heading section__heading--center">
                                    <h2 class="text-size-xlarge-to-large text-size-xxlarge-from-large text-cursive text-color-primary text-decoration text-decoration--notes">Help us DJ!</h2>
                                </div>
                                <div class="grid-12-from-large">
                                    <div class="grid-cell grid-cell--span-2"></div>
                                    <div class="grid-cell grid-cell--span-8 grid-cell--skip-2">
                                        <div class="section__para">
                                            <p class="text-center">
                                                We're both big fans of music so we'd love a variety of music to listen to with you all on our big day. Please add a favourite song or two to the playlist below!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="grid-cell grid-cell--span-2 grid-cell--skip-10"></div>
                                </div>
                                <div class="section__iframe">
                                    <iframe src="https://dj.roseanna-andrew.wedding" title="Contains an application to populate a playlist for our wedding day."></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="footer">
                    <div class="wrap">
                        <p class="text-size-small text-center">Website designed and developed by Andrew Tanner &amp; Roseanna Scott. 2019.</p>
                        <p class="text-size-small text-center">Icons made by <a href="http://www.freepik.com/" class="hyperlink" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" class="hyperlink" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" class="hyperlink" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</p>
                        <p class="text-size-small text-center">Background images made by <a href="https://www.transparenttextures.com/" class="hyperlink" title="Transparent Textures">Transparent Textures</a> from <a href="https://www.toptal.com" class="hyperlink" title="Toptal">Toptal</a> is licensed by <a href="https://creativecommons.org/licenses/by-sa/3.0/" class="hyperlink" title="Creative Commons BY-SA 3.0">CC BY-SA 3.0</a>.</p>
                    </div>
                </footer>
            </article>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49268523-8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-49268523-8');
        </script>
        <!-- Hotjar Tracking Code for www.roseanna-andrew.wedding -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1202067,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </body>
</html>