<!doctype html>
<html lang="en" class="fill-height">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" sizes="192x192" type="image/png" href="<%=require('./images/favicon.png')%>"/>
        <meta name="theme-color" content="#86CB92">
        <meta name="robots" content="noindex">
        <title>Login - The wedding of Roseanna Scott & Andrew Tanner | Thwaite Mills, Leeds | 13th June 2019</title>
    </head>
    <body class="fill-height">
        <div class="wrap fill-height">
            <div class="template-login fill-height">
                <div class="layout-centre fill-height">
                    <div class="card bg-main">
                        <form action="/login" class="form" method="post">
                            <div class="form__label">
                                <label for="password">
                                    <span class="form__label__text text-size-regular text-color-primary">Enter the password…</span>
                                    <span class="form__label__text text-size-small">You can find it on your invitation.</span>
                                </label>
                            </div>
                            <div class="form__input">
                                <input id="password" name="password" class="input input--password text-size-regular" type="password" />
                                <div class="form__message form__message--hidden js-form-error">
                                    <p class="text-size-small text-color-error">Password incorrect, please try again.</p>
                                </div>
                            </div>
                            <div class="form__submit">
                                <button type="submit" class="button button--primary" data-text="Come on in…">
                                    Come on in…
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49268523-8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-49268523-8');
        </script>
        <!-- Hotjar Tracking Code for www.roseanna-andrew.wedding -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1202067,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </body>
</html>