/* autoprefixer grid: autoplace */

.grid-12-from-large {
    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;

        .cssgrid & { // Modernizr
            column-gap: rem(20);
        }

        .cssgridlegacy & { // Modernizr
            margin-left: rem(-20);
        }

        .grid-cell {
            @for $i from 1 through 12 {
                &--span-#{$i} {
                    grid-column: span #{$i};

                    .cssgridlegacy & { // Modernizr
                        margin-left: rem(20);
                    }
                }
            }

            @for $i from 1 through 12 {
                &--skip-#{$i} {
                    -ms-grid-column: #{$i + 1};
                }
            }
        }
    }

    &.grid-12-from-large-reverse { 
        @media (min-width: #{bp(map-get($breakpoints, large))}) {
            direction: rtl;

            .grid-cell {
                direction: ltr;
            }
        }
    }
}
    