@import "reset-css";

.reset-button {
    appearance: none;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
}

.reset-input {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
}

.reset-button {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: none;
    background: none;
}
